@import url(https://fonts.googleapis.com/css?family=Montserrat:100,100italic,200,200italic,300,300italic,regular,italic,500,500italic,600,600italic,700,700italic,800,800italic,900,900italic);
@import url(https://fonts.googleapis.com/css?family=Lato:100,100italic,300,300italic,regular,italic,700,700italic,900,900italic);

$blu: #426cf5;
$pur: #6128B0;

$mediumsize: 1366px;
$mobile: 528px;

*{
    font-family: 'Montserrat', sans-serif;
    box-sizing: border-box !important;
    text-decoration: none;
}

body{
    margin: 0;
    padding: 0;
}

h1, h2, h3, h4{
    margin: 0;
}

@media (min-width: $mobile){
    .confirm-modal{
        margin: 10% 0 0 0 !important;
    }
}

.wrapper{
    display: flex;
}
.side-menu{
    width: 30vw;
    height: 100vh;
    display: flex;
    padding: 2em;
    flex-direction: column;
    justify-content: space-around;
    background-image: linear-gradient(-45deg,$blu, $pur);
    background-position: center;
    
    

    .album-logo{
        flex: 0;
        color: #fff;
        flex-basis: 0;
        font-size: 24px;
        margin: 0 0 2em 0;
    }
    .profile-data{
        flex: 1;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        .profile-img{
            width: 200px;
            height: 200px;
            overflow: hidden;
            border: 2px solid #fff;
            position: relative;
            img{
                position: absolute;
            }
        }
        .profile-welcome{
            color: #fff;
            margin: 10px 0;
            font-size: 16pt;
        }
    }
    .options-menu{
        flex: 1;
        .options-title{
            color: #fff;
            position: relative;
            &::after{
                content: '';
                position: absolute;
                top: 50%;
                transform: translate(0, -50%);
                margin: 0 0 0 10px; 
                height: 2px;
                display: inline-block;
                box-sizing: border-box;
                width: 65%;
                border-radius: 5px;
                background-color: #fff;
            }
        }
        .options-btn{
            width: 90%;
            border-radius: 2px;
            border-left: 3px solid rgb(255, 102, 0);
            background-color: #ffffff30;
            padding: 1em;
            cursor: pointer;
            display: flex;
            transition: ease-in-out;
            transition-duration: 200ms;
            font-weight: 500;
            margin: 1em 0 0 0;
            &:hover{
                background-color: #fff;
                .options-btn-label{
                    color: $blu;
                }
            }
            .options-btn-icon{
                width: 16px;
                height: 16px;
                background-color: #fff;
                margin: 0 1ch 0 0;
            }
            .options-btn-label{
                color: #fff;
            }
        }

        .options-btn-disabled{
            width: 90%;
            border-radius: 2px;
            border-left: 3px solid rgb(145, 145, 145);
            background-color: #ffffff30;
            padding: 1em;
            cursor: default;
            display: flex;
            transition: ease-in-out;
            transition-duration: 200ms;
            font-weight: 500;
            margin: 1em 0 0 0;
            .options-btn-icon{
                width: 16px;
                height: 16px;
                background-color: rgb(145, 145, 145);
                margin: 0 1ch 0 0;
            }
            .options-btn-label{
                color: rgb(145, 145, 145);
            }
        }
        
    }
    .log-out{
        a{
            color: #fff;
            text-decoration: none;
            font-weight: 500;
            &:hover{
                text-decoration: underline;
            }
        }
    }
}

.page-content{
    width: 100%;
    height: 100vh;
    overflow-y: scroll;
    padding: 6em 20px;
    .album{
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        .album-title{
            color: $blu;
            margin: 0 0 1em 0;
        }
        .stickers-wrapper{
            display: flex;
            flex-flow: wrap;
            justify-content: center;            
            .sticker{
                
                margin: 0 1em 1em 0;
                width: 150px;
                height: 150px;
                border: 2px solid $blu;
            }
        }
    }
}
.player-disabled {
    transition: ease-in-out;
    transition-duration: 600ms;
    img{
        height: 100%;
        -webkit-filter: grayscale(100%);
        filter: grayscale(100%);
        filter: gray; /* IE */
    }
    overflow: hidden;
}
.player-enabled {
    transition: ease-in-out;
    transition-duration: 600ms;
    img{
        height: 100%;
    }
    overflow: hidden;
}


.hidden{
    transition: ease-in-out;
    transition-duration: 1s;
    display: none !important;
    transition: ease-in-out;
    transition-duration: 100ms;
}

.modal-wrapper{
    transition: ease-in-out;
    transition-duration: 100ms;
    z-index: 99;
    width: 100vw;
    height: 100vh;
    display: flex;
    padding: 0 20px;
    justify-content: center;
    align-items: flex-start;
    position: absolute;
    top: 0;
    left: 0;
    background-color: #0008;
}
.confirm-modal{
    margin: 40% 0 0 0;
    border-radius: 4px;
    display: flex;
    flex-direction: column;
    padding: 2ch;
    background-color: #fff;
    z-index: 199;
    .modal-submit{
        background-color: #fff;
        border: 2px solid $blu;
        border-radius: 4px;
        padding: 1ch;
        font-weight: bold;
        color: $blu;
        margin: 2ch 0;
        transition: ease-in-out;
        transition-duration: 150ms;
        cursor: pointer;
        &:hover{
            background-color: $blu;
            color: #fff;
        }
    }
    .modal-cancel{
        background-color: #fff;
        border: 2px solid red;
        border-radius: 4px;
        padding: 1ch;
        font-weight: bold;
        color: red;
        transition: ease-in-out;
        transition-duration: 150ms;
        cursor: pointer;
        &:hover{
            background-color: red;
            color: #fff;
        }
    }
}
.modal-background{
    width: 100vw;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
}

.collapsed-wrapper{
    transition: ease-in-out;
    transition-duration: 1s;
    position: absolute;
    width: 100vw;
    height: 100vh;
    z-index: 200;
    background-image: linear-gradient(-45deg, $blu, $pur);
    display: flex;
    justify-content: center;
    align-items: center;
    .collapsed-options{
        display: flex;
        flex-direction: column;
        height: 100%;
        width: 100vw;
        padding: 2em;
        justify-content: space-between;
        align-items: center;
        position: relative;
        .close-collapsed{
            background-color: #0000;
            border: none;
            color: #fff;
            font-size: 24px;
            align-self: flex-end;
            font-weight: bold;
        }
        .profile-data{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            .profile-img{
                width: 200px;
                height: 200px;
                border: 2px solid #fff;
                overflow: hidden;
                position: relative;
                img{
                    position: absolute;
                }
            }
            .profile-welcome{
                color: #fff;
                margin: 10px 0 0 0;
                font-size: 16pt;
            }
        }
        .options-menu{
            width: 100%;
            .options-btn-disabled{
                width: 100%;
                border-radius: 2px;
                border-left: 3px solid rgb(145, 145, 145);
                background-color: #ffffff30;
                padding: 1em;
                cursor: default;
                display: flex;
                transition: ease-in-out;
                transition-duration: 200ms;
                font-weight: 500;
                margin: 1em 0 0 0;
                .options-btn-icon{
                    width: 16px;
                    height: 16px;
                    background-color: rgb(145, 145, 145);
                    margin: 0 1ch 0 0;
                }
                .options-btn-label{
                    color: rgb(145, 145, 145);
                }
            } 
            .options-title{
                color: #fff;
                position: relative;
                &::after{
                    content: '';
                    position: absolute;
                    top: 50%;
                    transform: translate(0, -50%);
                    margin: 0 0 0 10px; 
                    height: 2px;
                    display: inline-block;
                    box-sizing: border-box;
                    width: 65%;
                    border-radius: 5px;
                    background-color: #fff;
                }
            }
            .options-btn{
                width: 100%;
                border-radius: 2px;
                border-left: 3px solid rgb(255, 102, 0);
                background-color: #ffffff30;
                padding: 1em;
                cursor: pointer;
                display: flex;
                transition: ease-in-out;
                transition-duration: 200ms;
                font-weight: 500;
                margin: 1em 0 0 0;
                &:hover{
                    background-color: #fff;
                    .options-btn-label{
                        color: $blu;
                    }
                }
                .options-btn-icon{
                    width: 16px;
                    height: 16px;
                    background-color: #fff;
                    margin: 0 1ch 0 0;
                }
                .options-btn-label{
                    color: #fff;
                }
            }
        }
        .log-out{
            a{
                color: #fff;
                text-decoration: none;
                font-weight: 500;
                &:hover{
                    text-decoration: underline;
                }
            }
        }
    }
}


.collapsed-menu{
    width: 100vw;
    z-index: 200;
    position: fixed;
    top: 0;
    padding: 2ch 2em;
    display: flex;
    justify-content: space-between;
    background-image: linear-gradient(-45deg, $blu, $pur);
    .album-logo{
        color: #fff;
    }
    .hamburger-menu{
        background-color: #0000;
        color: #fff;
        font-weight: bold;
        font-size: 24px;
        border: none;
    }
    
}