@import url(https://fonts.googleapis.com/css?family=Montserrat:100,100italic,200,200italic,300,300italic,regular,italic,500,500italic,600,600italic,700,700italic,800,800italic,900,900italic);
@import url(https://fonts.googleapis.com/css?family=Lato:100,100italic,300,300italic,regular,italic,700,700italic,900,900italic);

$blu: #426cf5;
$pur: #6128B0;

$large: 560px;

*{
    font-family: 'Montserrat', sans-serif;
    box-sizing: border-box !important;
}

body{
    overflow-x: hidden;
    margin: 0;
    padding: 0;
}

h1{
    margin: 0;
}

@media (min-width: $large){
    .header-title{
        font-size: 30px !important;
    }
    .header-subtitle{
        font-size: 18px !important;
    }
    .cards-row{
        flex-wrap: nowrap !important;
    }
    .bout-cards{
        margin: 20px !important;
        width: 300px !important;
    }
    .bout-card-avatar{
        height: 200px !important;
    }
}

.main-wrapper{
    display: flex;
    flex-direction: column;
    position: relative;
}

.menu-bg{
    background-image: linear-gradient(#fff, #0000);
    .menu-home{
        color: #000 !important;
        transition-duration: 300ms;
    }
    .menu-login{
        transition-duration: 300ms;
        a{
            color: #000 !important;
            font-weight: 500;
        }
    }
    .menu-register{
        transition-duration: 300ms;
        a{

            color: #000 !important;
        }
    }
}

.menu-bar{
    z-index: 99;
    position: fixed;
    display: flex;
    top: 0;
    left: 0;
    width: 100vw;
    align-items: center;
    padding: 0 2ch;
    justify-content: space-between;
    height: 4em;
    transition-duration: 400ms;
    .menu-account{
        .menu-login{
            margin: 0 1ch 0 0;
            transition-duration: 300ms;
            a{
                text-decoration: none;
                color: #fff;
                
                &:hover{
                    text-decoration: underline;
                }
            }
        }
        .menu-register{
            font-weight: bold;
            transition-duration: 300ms;
            a{
                text-decoration: none;
                color: #fff;
                &:hover{
                    text-decoration: underline;
                }
            }
        }
    }
    .menu-home{
        font-weight: bold;
        cursor: default;
        font-size: 18px;
        color: #fff;
        transition-duration: 300ms;
    }
}


 /* HEADER */ 

.degrade{
    background-image: linear-gradient(-45deg, #426cf570, #6128B070);
    width: 100%;
    height: 100%;
    position: absolute;
}

 .header{
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: url('../resources/imgs/index/header.jpg');
    background-size: cover;
    background-position: center;
    position: relative;
    .header-title{
        animation-duration: 1s;
        animation-delay: 0.5s;
        font-size: 24px;
        color: #fff;
        
    }
    .header-subtitle{
        animation-duration: 2s;
        animation-delay: 0.8s;
        font-size: 14px;
        
        color: #fff;
    }
    .header-cta{
        animation-duration: 1.5s;
        animation-delay: 1.2s;
        background-color: #00000000;
        transition-duration: 300ms;
        border-radius: 2px;
        border: 2px solid #fff;
        cursor: pointer;
        margin: 2ch 0 0 0;
        font-size: 14px;
        font-weight: 500;
        padding: 1ch;
        a{
            text-decoration: none;
            color: #fff;
            width: 100%;
            height: 100%;
        }
        
    }
    .header-cta:hover{
        background-color: #fff;
        transition-duration: 300ms;
        a{
            color: #000;
        }
    }
}

 /* BOUT */

.bout{
    height: auto;
    width: 100vw;
    display: flex;
    flex-direction: column;
    padding: 6ch 0;
    align-items: center;
    justify-content: space-around;
    text-align: center;

    .bout-title{
        font-size: 24px;
        color: $blu;
        
    }
    .bout-subtitle{
        font-size: 24px;
        color: $blu;
        margin: 20px;
        
    }
    
    .bout-paragraph{
        font-family: 'Lato', sans-serif;
        width: 100%;
        padding: 0 2ch;

    }
    .cards-row{
        display: flex;
        flex-wrap: wrap;
        background-image: linear-gradient(-45deg, $blu, $pur);
        padding: 20px;
        width: 100vw;
        justify-content: center;
        
        .fade-first{
            animation-duration: 800ms;
            animation-delay: 500ms;
        }
        .fade-second{
            animation-duration: 800ms;
            animation-delay: 1s;
        }
        .fade-last{
            animation-duration: 800ms;
            animation-delay: 1.5s;
        }
        .bout-cards{
            margin: 20px 0;
            background-color: #fff;
            width: 100%;
            border-radius: 4px;
            overflow: hidden;
            box-shadow: 2px 2px 6px #00000020;
            transition-duration: 300ms;
            
            &:hover{
                box-shadow: 3px 3px 6px #00000030;
                transition-duration: 300ms;
            }
            .bout-card-avatar{
                width: 100%;
                height: 14em;
                
            }
            .bout-card-content{
                padding: 2ch;
                display: flex;
                justify-content: center;
                align-items: center;
                flex-direction: column;
                text-align: center;
                p{
                    font-family: 'Lato', sans-serif;
                    
                }
            }
            .joaozin{
                background: url('../resources/imgs/index/team/jao.PNG');
                background-size: cover;
                position: relative;
                .back-end{
                    cursor: default;
                    position: absolute;
                    color: #fff;
                    font-weight: 500;
                    background-color: $blu;
                    padding: 10px;
                    top: 0;
                    right: 0;
                    border-radius: 0 0 0 10px;
                    
                }
            }
            .yuri{
                background: url('../resources/imgs/index/team/yuri.PNG');
                background-size: cover;
                position: relative;
                .back-end{
                    cursor: default;
                    position: absolute;
                    color: #fff;
                    font-weight: 500;
                    background-color: $blu;
                    padding: 10px;
                    top: 0;
                    right: 0;
                    border-radius: 0 0 0 10px;
                    
                }
            }
            .niculinha{
                background: url('../resources/imgs/index/team/eu.PNG');
                background-size: cover;
                position: relative;
                .front-end{
                    cursor: default;
                    position: absolute;
                    color: #fff;
                    font-weight: 500;
                    background-color: #ff6e1b;
                    padding: 10px;
                    top: 0;
                    right: 0;
                    border-radius: 0 0 0 10px;
                    
                }
            }

        }
    }

    

    .bout-cta{
        animation-duration: 1s;
        background-color: #fff;
        border: none;
        margin: 20px 0 0 0;
        padding: 2ch;
        border-radius: 2px;
        box-shadow: 2px 2px 4px #00000030;
        border: 2px solid $blu;
        cursor: pointer;
        transition-duration: 300ms;
        text-decoration: none;
        color: $blu;
        font-size: 14px;
        font-weight: bolder;
        font-family: 'Montserrat', sans-serif;
        
        &:hover{
            border: 2px solid $blu;
            background-color: $blu;
            transition-duration: 300ms;
            color: #fff;
        }
        
    }
}

.use{
    width: 100vw;
    height: 100vh;
}

.bout-title-register{
    color: $blu;
    font-size: 24px;
    margin: 4em 0 0 0;
}