@import url(https://fonts.googleapis.com/css?family=Montserrat:100,100italic,200,200italic,300,300italic,regular,italic,500,500italic,600,600italic,700,700italic,800,800italic,900,900italic);
@import url(https://fonts.googleapis.com/css?family=Lato:100,100italic,300,300italic,regular,italic,700,700italic,900,900italic);

$blu: #426cf5;
$pur: #6128B0;

*{
    font-family: 'Montserrat', sans-serif;
    box-sizing: border-box !important;
}

body{
    overflow-x: hidden;
    margin: 0;
    padding: 0;
}

h1{
    margin: 0;
}

.main-wrapper{
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(-45deg, $blu, $pur);
}

.register-erro{
    color: red;
    padding: 5px;
    margin: 1em 0 0 0;
}

#input-image{
    display: none;
}

.fake-input-div{
    width: 100%;
    padding: 1ch;
    color: grey;
    border: 1px solid lightgrey;
    font-size: 1.2ch;
    transition: ease-in-out;
    transition-duration: 150ms;
    &:hover{
        background-color: $blu;
        color: #fff;
        border: 1px solid $blu;
    }
    cursor: pointer;
}
.fake-input-div-active{
    border: 1px solid $blu;
    color: $blu;
}

.login-title{
    font-size: 2ch;
    color: #fff;
    margin: 0 0 2ch 0;
    text-align: center;
}

.login{
    animation-delay: 300ms;
    text-align: center;
    padding: 0 2ch;
    width: 250px;
    max-width: 250px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
    background-color: #fff;
    box-shadow: 2px 2px 6px #00000020;
    border-radius: 2px;
    border-bottom: 3px solid #fc7120;
    .login-form{
        display: flex;
        text-align: left;
        flex-direction: column;
        label{
            margin: 2ch 0 0 0;
        }
        input{
            padding: 1ch;
            border: 1px solid #ddd;
            transition-duration: 200ms;
            &:focus{
                border: 1px solid $blu;
                transition-duration: 200ms;
            }
        }
        
    }
    .login-register{
        margin: 0 0 2ch 0;
        a{
            text-decoration: none;
            color: #666;
            &:hover{
                text-decoration: underline;
            }
        }
    }
    .login-submit{
        background-color: #fff;
        border: 2px solid $blu;
        padding: 1ch;
        font-weight: bold;
        color: $blu;
        cursor: pointer;
        width: 100%;
        margin: 2ch 0;
        transition-duration: 300ms;
        &:hover{
            background-color: $blu;
            color: #fff;
            transition-duration: 300ms;
        }
    }
}