@import url(https://fonts.googleapis.com/css?family=Montserrat:100,100italic,200,200italic,300,300italic,regular,italic,500,500italic,600,600italic,700,700italic,800,800italic,900,900italic);

$blu: #426cf5;
$pur: #6128B0;

$mobile: 414px;
$little-h: 600px;

*{
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

body{
    margin: 0;
    overflow: hidden;
    @media (max-width: $mobile){
        overflow: scroll;
    }
    @media (max-height: $little-h) {
        overflow: scroll;
    }
}

h1{
    margin: 0;
}

.wrapper{
    width: 100vw;
    height: 100vh;
    background-image: linear-gradient(-45deg, $blu, $pur);
    display: flex;
    justify-content: center;
    align-items: center;
    @media (max-width: $mobile){
        padding: 2ch 0;
    }
    @media (max-height: $little-h){
        height: auto;
        padding: 2ch 0;
    }
    .content{
        display: flex;
        flex-direction: column;
        align-items: center;
        height: auto;
        .content-title{
            color: #fff;
            font-size: 2ch;
            margin: 0 0 1ch 0;
        }
        .form-holder{
            border-bottom: 4px solid orangered;
            background-color: #fff;
            padding: 2em 6em;
            animation-delay: 300ms;
            max-width: min-content; 
            @media (max-width: $mobile){
                padding: 2em 4em;
            }
            form{    
                display: flex;
                flex-direction: column;
                .image-holder{
                    overflow: hidden;
                    position: relative;
                    img{
                        position: absolute;
                    }
                    width: 200px;
                    height: 200px;
                    @media (max-width: $mobile) {
                        width: 180px;
                        height: 180px;
                    }
                    margin: 0 0 2em 0;
                    position: relative;
                    align-self: center;
                    border: 2px solid $blu;
                    .degrade{
                        z-index: 99;
                        pointer-events: none;
                        width: 100%;
                        height: 100%;
                        background-image: linear-gradient(#0000,#000000ee);
                        position: absolute;
                    }
                    input{
                        display: none;
                    }
                    label{
                        position: absolute;
                        bottom: 0px;
                        color: #fff;
                        z-index: 1000;
                        left: 50%;
                        text-align: center;
                        cursor: pointer;
                        transform: translate(-50%,-50%);
                        &:hover{
                            text-decoration: underline;
                        }
                    }
                }
                
                .input-texts{
                    display: flex;
                    flex-direction: column;
                    label{
                        margin: 0 0 0.2ch 0;
                        color: grey;
                    }
                    .input{
                        margin: 0 0 1ch 0;
                        padding: 0.5ch;
                        border: 1px solid lightgrey;
                        &:focus{
                            border: 1px solid $blu;
                        }
                    }
                    a{
                        align-self: center;
                        text-decoration: none;
                        color: grey;
                        &:hover{
                            text-decoration: underline;
                        }
                    }
                    .btn-update{
                        border-radius: 4px;
                        border: 2px solid $blu;
                        color: $blu;
                        font-weight: bold;
                        background-color: #fff;
                        padding: 1ch;
                        transition: ease-in-out;
                        transition-duration: 150ms;
                        margin: 1ch 0;
                        cursor: pointer;
                        &:hover{
                            background-color: $blu;
                            color: #fff;
                        }
                    }
                    .btn-delete{
                        border-radius: 4px;
                        border: 2px solid red;
                        color: red;
                        font-weight: bold;
                        background-color: #fff;
                        padding: 1ch;
                        transition: ease-in-out;
                        transition-duration: 150ms;
                        margin: 1ch 0;
                        cursor: pointer;
                        &:hover{
                            background-color: red;
                            color: #fff;
                        }
                    }
                }
            }
        }
    }
}
.register-erro{
    color: red;
    text-align: center;
    margin: 1ch 0;  

}

.hidden{
    display: none !important;
}

.modal-wrapper{
    transition: ease-in-out;
    transition-duration: 100ms;
    z-index: 99;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    position: absolute;
    left: 0;
    background-color: #0008;
}
.confirm-modal{
    margin: 10% 0 0 0;
    @media (max-width: 940px) {
        margin: 25% 10% 0 10%;
    }
    display: flex;
    flex-direction: column;
    padding: 2ch;
    background-color: #fff;
    z-index: 199;
    .delete-profile{
        background-color: #fff;
        border: 2px solid $blu;
        border-radius: 4px;
        padding: 1ch;
        font-weight: bold;
        color: $blu;
        margin: 2ch 0;
        transition: ease-in-out;
        transition-duration: 150ms;
        cursor: pointer;
        &:hover{
            background-color: $blu;
            color: #fff;
        }
    }
    .delete-cancel{
        background-color: #fff;
        border: 2px solid red;
        border-radius: 4px;
        padding: 1ch;
        font-weight: bold;
        color: red;
        transition: ease-in-out;
        transition-duration: 150ms;
        cursor: pointer;
        &:hover{
            background-color: red;
            color: #fff;
        }
    }
}
.modal-background{
    width: 100vw;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
}